body {
    background-color: rgb(60, 168, 205);
    color: white;
  }
  
  h1 {
    background-color: rgba(0, 0, 0, 0.927);
    color: white;
  }
  
  div {
    background-color: rgb(60, 168, 205);
    color: white;

  }

 